.component-container {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: fit-content;
  background-color: grey;
}

.loading {
  display: none;
}
.graph-container {
  width: 72%;
  height: 600px;
  margin: 1% 0.5%;
  padding: 1%;
  float: left;
}
.graph {
  height: 100%;
  width: 100%;
  margin: auto;
}
.form-container {
  float: right;
  width: 22%;
  height: 600px;
  margin: 1% 0.5%;
  padding: 1%;
  text-align: center;
}
