<div class="component-container">
  <mat-card class="graph-container">
    <section class="graph" [class.loading]="!isLoading">
      <loading-screen class="graph"></loading-screen>
    </section>
    <section class="graph" [class.loading]="isLoading">
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="graphingData"
        [trimXAxisTicks]="true"
      >
      </ngx-charts-line-chart>
    </section>
  </mat-card>
  <mat-card class="form-container">
    <form #graphForm="ngForm" (ngSubmit)="updateGraph(graphForm)">
      <mat-form-field appearance="fill">
        <mat-label>Y Axis</mat-label>
        <mat-select [ngModel]="selectedYAxis" name="yValue">
          <mat-option *ngFor="let option of axisOptions" [value]="option">{{
            option.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Update</button>
    </form>
  </mat-card>
</div>
